//======================================================BOXED LAYOUT=======================================================

$container-max-width: 100%;
$container-width: 1336px; // tùy thuộc vào container của bản thiết kế // $container-width = container (đo từ bản thiết kế) + 30px

/*GRID - media queries breakpoints*/
$xxs-min: 576px; // CÓ THỂ TÙY CHỈNH
$xs-min: 768px; // KHÔNG THAY ĐỔI
$sm-min: 992px; // KHÔNG THAY ĐỔI
$md-min: 1200px; // KHÔNG THAY ĐỔI
$lg-min: 1600px; // CÓ THỂ TÙY CHỈNH

$xxs-max: ($xxs-min - 1); // Small Mobile
$xs-max: ($xs-min - 1); // Mobile
$sm-max: ($sm-min - 1); // Tablet
$md-max: ($md-min - 1); // Desktop
$lg-max: ($lg-min - 1); // Large Desktop

//=====================================CÁC BIẾN KHÔNG THAY ĐỔI GIÁ TRỊ KHI RESPONSIVE======================================
// colors - tuỳ chỉnh
$white-cl: #f9f9f9;
$black-cl: #222222;
$green-cl: #8eb63e;
$green-dark-cl: #42561a;
$green-light-cl: #defba5;
$gray-cl: #9b9b9b;
$gray-light-cl: #c4c4c4;
$gray-lighter-cl: #d4d4d4;
$gray-dark-cl: #4b4b4b;

$gradient-cl: linear-gradient(180deg, #df1cff 0%, #814bf6 50.55%, #00bcff 100%);

$shadow-1: 0px 4px 4px rgba(10, 16, 34, 0.25);
$shadow-2: 0px 10px 30px rgba(10, 16, 34, 0.2);

// timing transition - tuỳ chỉnh
$r: 10px;
$t: 0.4s;
$t2: 0.7s;
$cubic: cubic-bezier(0.84, 0.13, 0.33, 0.97);

// ========================================CÁC BIẾN CÓ THAY ĐỔI GIÁ TRỊ KHI RESPONSIVE=====================================

:root {
  //=========== VÍ DỤ ============//

  // font-size & line-height heading

  --h1-fs: 9.6rem;
  --h1-lh: 1;

  --h2-fs: 4.8rem;
  --h2-lh: 1;

  --body18-fs: 1.8rem;
  --body18-lh: 1.9rem;

  --body14-fs: 1.4rem;
  --body14-lh: 1.9rem;

  // Genaral Variable

  --gap: 40px; // gap này sử dụng cho gap cột & padding của container, container-fluid

  --height-header: 90px;
  --height-button: 50px;
  --height-input: 40px;
  --pd: 60px;
  --mg: 70px;

  @media (max-width: $sm-max) {
    // Tablet
    --height-header: 77px;
    --mg: 65px;
  }
  @media (max-width: $xs-max) {
    // Mobile
    --h1-fs: 3.6rem;
    --h1-lh: 4.2rem;

    --h2-fs: 2.8rem;
    --h2-lh: 3.8rem;

    --height-header: 70px;
    --pd-section: 50px;
    --ptop: 120px;
    --pd: 30px;
    --gap: 20px;
    --mg: 35px;
  }
}
